*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family:Arial, sans-serif;
    background:#f7f7f7;
    color:#222;
}



/* HEADER */

header{
    width:100%;
    padding:20px 60px;
    background:#050505;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:3px solid #d4af37;
}


.logo img{
    height:60px;
    width:auto;
}



nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:17px;
    transition:.3s;
}


nav a:hover{
    color:#d4af37;
}




/* HERO */

.hero{

    height:85vh;

    background:
    linear-gradient(
    rgba(0,0,0,.55),
    rgba(0,0,0,.55)
    ),
   url("https://infopointalbania.com/images/hero.jpg") center/cover;


    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;

}



.hero h1{

    font-size:70px;
    text-transform:uppercase;
    letter-spacing:3px;

}



.hero p{

    font-size:26px;
    margin:25px;

}




button{

    background:#d62828;
    color:white;

    padding:16px 40px;

    border:none;

    border-radius:40px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}



button:hover{

    background:#d4af37;
    color:#000;

}





/* KARTAT */

.cards{

    display:flex;
    justify-content:center;
    gap:30px;
    padding:70px 30px;

}




.cards div{

    background:white;

    width:320px;

    padding:35px;

    border-radius:15px;

    text-align:center;

    border-top:5px solid #d62828;

    box-shadow:0 10px 30px rgba(0,0,0,.1);

    transition:.3s;

}




.cards div:hover{

    transform:translateY(-10px);

    border-top-color:#d4af37;

}




.cards h2{

    margin-bottom:15px;

}





/* ABOUT */

.about{

    background:#050505;

    color:white;

    text-align:center;

    padding:70px 20px;

    border-top:3px solid #d4af37;

}



.about h2{

    font-size:40px;

    color:#d4af37;

    margin-bottom:20px;

}





/* FOOTER */

footer{

    background:#000;

    color:white;

    text-align:center;

    padding:25px;

}





/* MOBILE */

@media(max-width:768px){


    header{

        flex-direction:column;

        padding:20px;

    }



    nav{

        margin-top:20px;

    }



    .hero h1{

        font-size:42px;

    }



    .cards{

        flex-direction:column;

        align-items:center;

    }


}
